<div class="panel panel-default">

  <div class="panel-heading">
    What are they? <a href="http://cloudinary.com">Cloudinary</a> and
    <a href="https://github.com/carrierwaveuploader/carrierwave">CarrierWave</a>
  </div>

  <div class="panel-body">
    <div class="panel-breaker">
      <h3>CarrierWave</h3>
      <h4>What CarrierWave Says:</h4>

      <p>This gem provides a simple and extremely flexible way to upload files from Ruby applications.
        It works well with Rack based web applications, such as Ruby on Rails.</p>

      <h4>What Jason Thinks:</h4>

      <p>It makes it so you can pretend an uploaded file is just another ActiveRecord field like <code>string, boolean,
        integer</code> whatever.</p>
    </div>

    <div class="panel-breaker">
      <h3>Cloudinary</h3>
      <h4>What Cloudinary Says:</h4>

      <p>Cloudinary is the image back-end for web and mobile developers.
        An end-to-end solution for all your image-related needs.</p>

      <h4>What Jason Thinks:</h4>
      <p>An image hosting site (CDN) for dummies.</p>
    </div>
  </div>

</div>
